@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    height: 2150vh;
}

p {
    margin: 0;
}

span {
    margin: 0;
}

#container {
    width: 100%;
    height: 2150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

g {
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.country {
    stroke: #696969;
    stroke-width: 0.1px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svgG {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    overflow: visible;
}

.title-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;

    opacity: 0;
}

.title {
    text-align: right;
}

.title span {
    display: block;
}

.center-container {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.story-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

.video-container {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    box-sizing: border-box;
}

.video-container p {
    color:  white;
    font-size: 0.8rem;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.story {
    color: #000;
    position: absolute;
    font-size: 15px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.story p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.story span {
    font-weight: bold;
    margin-top: 10px;
}

.full-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.vertical-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50vh;
}

svg image {
    transform: translate(0, 0);
    -webkit-filter: opacity(.5);
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

foreignObject {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timespan {
    color: blue;
}

video {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.tooltip-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;   
}

.domain {
    stroke: #F2E8D5;
}

.tick line {
    stroke: #F2E8D5;
}

.tick text {
    fill: #F2E8D5;
}


canvas {
    width: 100%;
    height: 100%;
    touch-action: auto;
}

.globe-3d {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#globe {
    cursor: move;
}

#current {
    position: absolute;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
}

#percent {
    position: absolute;
    top: 5%;
    font-family: sans-serif;
    color: rgb(0, 193, 0);
}

#underline {
    z-index: -1;
    position: absolute;
    height: 8px;
    background-color: rgba(255, 0, 0, 0.801);
}

#underline2 {
    position: absolute;
    height: 5px;
    background-color: rgba(255, 0, 0, 0.801);
}

.social-distance {
    width: 50px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBox {
    background-color: red;
    width: 10px;
    height: 3rem;
}

.middleLine {
    width: 1px;
    height: 1px;
    background-color: red;
    position: absolute;
}

.rightBox {
    background-color: red;
    width: 10px;
    height: 3rem;
}

.last {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 거리두기 animation */
@keyframes distanceLeft {
    to {
        transform: translateX(-100px);
        background-color: green;
    }
}

@keyframes distanceLeftText {
    to {
        transform: translateX(-100px);
    }
}

@keyframes distanceRight {
    to {
        transform: translateX(100px);
        background-color: green;
    }
}

@keyframes distanceRightText {
    to {
        transform: translateX(100px);
    }
}

@keyframes distanceLine {
    to {
        width: 220px;
        background-color: green;
    }
}

.social-distance-container {
    display: flex;
    margin-top: 20px;
    margin-top: 20px;
}

.center-container p {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transform: translate(0, 100px);
    position: sticky;
    top: 47%;
    opacity: 0;
}

#underlineBlack {
    position: absolute;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.774);
}

@keyframes show-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes unshow-text {
    from {
        opacity: 1;
        transform: translate(0, 0px);
    }

    to {
        opacity: 0;
        transform: translate(0, -50px);
    }
}

.just-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.just-container p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.korea-map {
    position: relative;
}

.koreaMapText {
    font-size: 1rem;
    top: 30%;
    width: 50%;
    margin-left: 10%;
    position: absolute;
    left: 0;
    color: white;
    font-weight: bold;
}

.kmapText1 {
    position: absolute;
    left: 10%;
    top: 45%;
}

.kmapText2 {
    position: absolute;
    left: 10%;
    top: 50%;
}

.kmapText3 {
    position: absolute;
    left: 10%;
    top: 55%;
}

.mask {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.lastText {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

@keyframes cough {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#maskRect {
    position: absolute;
    height: 0;
    background-color: white;
    mix-blend-mode: difference;
}

#tempRect {
    position: absolute;
    width: 0;
    background-color: green;
    height: 3px;
}

.temp-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-center-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.title-container svg {
    color: whitesmoke;
    position: absolute;
    bottom: 5%;
    left: 50%;
    animation: arrow 1s ease-in-out infinite;
    animation-delay: arrow 1s;
    transition: all 0.5s;
}

@keyframes arrow {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}