@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overscroll-behavior: none;
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    margin: 0;
}

#container {
    width: 100%;
    height: 1800vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

g {
    -webkit-transform-origin: center;
    transform-origin: center;
}

.country {
    fill: transparent;
    stroke: rgba(128, 128, 128, 0.342);
    /* stroke: white; */
    stroke-width: 0.1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* fill: transparent;
    stroke: transparent; */
}

.lt {
    width: 50%;
    height: 50%;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
}
.rt {
    width: 50%;
    height: 50%;
    background-color: lightpink;
    position: absolute;
    top: 0;
    right: 0;
}
.lb {
    width: 50%;
    height: 50%;
    background-color: lightgoldenrodyellow;
    position: absolute;
    left: 0;
    bottom: 0;
}
.rb {
    width: 50%;
    height: 50%;
    background-color: lightgreen;
    position: absolute;
    right: 0;
    bottom: 0;
}

.svgG {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    overflow: visible;
}


.title-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

.title {
    text-align: right;
}

.red-text {
    color: red;
}

.center-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5%;
    box-sizing: border-box; */
}

.big {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.story-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

.video-container {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.story {
    color: white;
    font-size: 20px;
    padding: 20%;
    box-sizing: border-box;
}

.full-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.vertical-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

svg image {
    transform: translate(0, 0);
    -webkit-filter: opacity(.5);
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

foreignObject {
    display: flex;
    justify-content: center;
    align-items: center;
}

foreignObject svg{
    /* transform: rotate(-30deg); */
}

/* @keyframes plane {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
} */

.timespan {
    color: blue;
}

video {
    width: 60%;
}

.tooltip-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;   
}

.domain {
    stroke: red;
}

.tick line {
    stroke: red;
}

.tick text {
    fill: red;
}


canvas {
    width: 100%;
    height: 100%;
}

.globe-3d {
    position: relative;
}

#globe {
    cursor: move;
}

#current {
    position: absolute;
    left: 0;
    top: 20%;
    font-family: sans-serif;
    color: blue;
}

#percent {
    position: absolute;
    left: 0;
    top: 50%;
    font-family: sans-serif;
    color: yellow;
}

p {
    color: white;
}