@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overscroll-behavior: none;
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    margin: 0;
}

span {
    margin: 0;
}

#container {
    width: 100%;
    height: 2250vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

g {
    -webkit-transform-origin: center;
    transform-origin: center;
}

.country {
    /* fill: #666873; */
    stroke: #696969;
    /* color: #66687375; */
    /* stroke: white; */
    stroke-width: 0.1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* fill: transparent;
    stroke: transparent; */
}

.lt {
    width: 50%;
    height: 50%;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
}
.rt {
    width: 50%;
    height: 50%;
    background-color: lightpink;
    position: absolute;
    top: 0;
    right: 0;
}
.lb {
    width: 50%;
    height: 50%;
    background-color: lightgoldenrodyellow;
    position: absolute;
    left: 0;
    bottom: 0;
}
.rb {
    width: 50%;
    height: 50%;
    background-color: lightgreen;
    position: absolute;
    right: 0;
    bottom: 0;
}

.svgG {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    overflow: visible;
}


.title-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;

    opacity: 0;
}

.title {
    text-align: right;
}

.red-text {
    /* color: red; */
}

.center-container {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5%;
    box-sizing: border-box; */
}

.big {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.story-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

.video-container {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.video-container p {
    color:  white;
    font-size: 1rem;
    padding-left: 20%;
    padding-right: 20%;
}

.story {
    color: #000;
    position: absolute;
    font-size: 15px;
    width: 40%;
    /* height: 15%; */
    margin-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.story p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.story span {
    font-weight: bold;
    margin-top: 10px;
}

.full-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.vertical-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50vh;
    /* padding: 5%;
    box-sizing: border-box; */

    /* position: sticky;
    top: 0; */
}

svg image {
    transform: translate(0, 0);
    -webkit-filter: opacity(.5);
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

foreignObject {
    display: flex;
    justify-content: center;
    align-items: center;
}

foreignObject svg{
    /* transform: rotate(-30deg); */
}

/* @keyframes plane {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
} */

.timespan {
    color: blue;
}

video {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.tooltip-statistics-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;   
}

.domain {
    stroke: #F2E8D5;
}

.tick line {
    stroke: #F2E8D5;
}

.tick text {
    fill: #F2E8D5;
}


canvas {
    width: 100%;
    height: 100%;
}

.globe-3d {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#globe {
    cursor: move;
}

#current {
    position: absolute;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
}

#percent {
    position: absolute;
    top: 5%;
    font-family: sans-serif;
    color: #8A8EA6;
}

p {
    /* color: rgba(245, 245, 245, 0.307);
    color: white; */
}

#underline {
    position: absolute;
    height: 8px;
    background-color: rgba(255, 0, 0, 0.801);
}

.social-distance {
    width: 50px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBox {
    background-color: red;
    width: 10px;
    height: 3rem;
    animation: distanceLeft 1s ease-in-out forwards;
}

.middleLine {
    width: 1px;
    height: 1px;
    background-color: red;
    position: absolute;
    animation: distanceLine 1s ease-in-out forwards;
}

.rightBox {
    background-color: red;
    width: 10px;
    height: 3rem;
    animation: distanceRight 1s ease-in-out forwards;
}

.leftText {
    animation: distanceLeftText 1s ease-in-out forwards;
}

.rightText {
    animation: distanceRightText 1s ease-in-out forwards;
}

.last {
    display: flex;
    flex-direction: column;
}

@keyframes distanceLeft {
    to {
        transform: translateX(-100px);
        background-color: green;
    }
}

@keyframes distanceLeftText {
    to {
        transform: translateX(-100px);
    }
}

@keyframes distanceRight {
    to {
        transform: translateX(100px);
        background-color: green;
    }
}

@keyframes distanceRightText {
    to {
        transform: translateX(100px);
    }
}

@keyframes distanceLine {
    to {
        width: 220px;
        background-color: green;
    }
}

.social-distance-container {
    display: flex;
}

.center-container p {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    transform: translate(0, 100px);
    position: sticky;
    top: 50%;
    opacity: 0;
}

#underlineBlack {
    position: absolute;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.774);
}

/* .firstCenterText {
    
} */

@keyframes show-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes unshow-text {
    from {
        opacity: 1;
        transform: translate(0, 0px);
    }

    to {
        opacity: 0;
        transform: translate(0, -100px);
    }
}

.just-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.just-container p {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.korea-map {
    position: relative;
}

.koreaMapText {
    font-size: 1.5rem;
    top: 30%;
    width: 50%;
    margin-left: 10%;
    position: absolute;
    left: 0;
    color: white;
    font-weight: bold;
}

.kmapText1 {
    position: absolute;
    left: 10%;
    top: 50%;
}

.kmapText2 {
    position: absolute;
    left: 10%;
    top: 55%;
}

.kmapText3 {
    position: absolute;
    left: 10%;
    top: 60%;
}